#app-nav {
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .brand-logo {
    width: 60px;   /* Fixed size for logo */
    height: 60px;  /* Fixed size for logo */
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .navbar-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .d-md-flex {
    display: flex;
    gap: 15px; /* You can adjust the gap for spacing */
  }
}

